@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #F6EBDA;
    --bg-sub-color: #F9D9AA;
    --text-color: #2F2105;
    --sub-text-color: #FF902A;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    /* font-size: 62.5%; */
}
.btnTop {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* ******************* */
.app {
    position: relative;
    width: 100%;
    height: 100vh;
}
header {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 1rem;
}
.logo {
    display: block;
    width: 250px;
    height: 50px;
    background-image: url(./source/images/logo_coffe.svg);
    background-position: center;
    background-size: cover;
}
.icon {
    padding: 1rem;
    margin-left: 0.7rem;
}
.cart {
    display: inline-block;
    width: 24px;
    height: 22px;
    background-image: url(./source/images/cart.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
}
.menu-item {
    margin: 0 2rem;
}
.menu-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}
.menu-link:hover {
    color: var(--sub-text-color);
}
.menu-link.active {
    color: var(--sub-text-color);
}
.group {
    display: flex;
    align-items: center;
}
.input-group {
    background-color: #fff;
    border-radius: 24px;
    overflow: hidden;
}
.form-control {
    border: none;
}
.form-control:focus {
    box-shadow: none;
}
.group>.icon {
    position: relative;
}

/* show cart */
.buy {
    display: none;
    position: absolute;
    right: -10px;
    top: 110%;
    width: 300px;
    height: 400px;
    border-radius: 12px;
    color: var(--text-color);
    background-color: #fff;
    z-index: 99;
}
.buy::before {
    position: absolute;
    right: 15px;
    top: -20px;
    content: "";
    border-width: 10px 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.buy.active {
    display: block;
}
.buy-heading {
    text-align: center;
    padding: 10px;
}
.buy ul {
    list-style: none;
    padding: 0;
}
.buy-item {
    display: flex;
    align-items: center;
    padding: 6px 10px;
}
.buy-item-img {
    width: 50px;
    height: 40px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./source/images/cofe1.png);
}
.buy-item-name {
    flex: 1;
    padding-left: 10px;
}
.buy-item-name p {
    margin: 0;
}
.buy-item-delete {
    padding: 10px;
}
.buy::after {
    position: absolute;
    content: "Pay";
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 600;
    min-width: 100px;
    padding: 5px;
    border-radius: 12px;
    z-index: 100;
    color: var(--text-color);
    background-color: var(--bg-sub-color);
}

/* Home */
.home {
    padding-top: 8%;
    min-height: 100vh;
}
.home__left {
    padding-top: 4rem;
}
.home__left-title {
    font-weight: 600;
    line-height: 1.5;
}
.home__left-title>b {
    color: var(--sub-text-color);
}
.home__left p {
    color: #666;
    margin: 2rem auto;
}
.btn.btn-p {
    display: inline-flex;
    align-items: center;
    border-radius: 24px;
    color: #fff;
    background-color: var(--text-color);
}
.btn.btn-p>.icon {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--sub-text-color);
}
.btn.btn-t {
    font-weight: 600;
    color: var(--sub-text-color);
}
.home__right {
    position: relative;
}
.home__right-img {
    position: absolute;
    left: 10%;
    width: 415px;
    height: 415px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./source/images/Ellipse.svg);
}
.home__right-img::before {
    content: "";
    position: absolute;
    left: 10%;
    width: 350px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./source/images/cofe.png);
}
.home__right-img::after {
    content: "";
    position: absolute;
    left: 6%;
    top: 20%;
    width: 435px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./source/images/Exclude.svg);
}
.text {
    position: absolute;
    display: inline-block;
    width: max-content;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    background-color: #fff;
    text-align: center;
    padding: 8px 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.text.one {
    top: 40px;
}
.text.two {
    right: 30px;
    top: 140px;
}
.text.three {
    top: 330px;
    left: 50px;
}

/* popular */
.popular {
    width: 100%;
    height: 200px;
    padding-top: 5%;
    color:var(--text-color);
    background-color: var(--bg-color);
}
.popular-content {
    position: relative;
    width: 100%;
    height: 100%;
}
.popular-heading {
    position: absolute;
    top: -100%;
}
.popular-heading span,
.service-heading span,
.about-content h3 span,
.special-heading span {
    border-bottom: 3px solid var(--sub-text-color);
}
.popular-bg {
    position: absolute;
    top: 70%;
    width: 100%;
    height: 300px;
    background-color: var(--bg-sub-color);
    border-radius: 64px;
}
.popular-bg>div {
    margin: 0;
    padding-left: 6px;
}
.popular .drink {
    position: absolute;
    top: -50%;
}
.drink {
    width: 340px;
    height: auto;
    padding: 24px 18px;
    border-radius: 12px;
    background-color: #fff;
    filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
}
.drink-img {
    width: 100%;
    height: 226px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.drink-body {
    padding: 12px 12px 0;
}
.drink-header,
.drink-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.drink-name {
    font-size: 1.4rem;
    font-weight: 600;
}
.drink-option {
    display: inline-block;
    text-align: center;
    font-size: .8rem;
    min-width: 64px;
    padding: 10px;
    border-radius: 8px;
    color: rgba(255, 144, 42, .6);
    border: 3px solid transparent;
}
.drink-option.active {
    color: var(--sub-text-color);
    border: 3px solid var(--sub-text-color);
}
.drink-footer>.icon {
    padding: 0;
    text-align: center;
    min-width: 43px;
    height: 43px;
    border-radius: 30px;
    background-color: var(--sub-text-color);
}
.drink-footer>.icon span {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./source/images/cartSmall.svg);
}
.drink-text {
    color: #888;
    font-size: 1rem;
    font-weight: 400;
}
.drink-text p {
    margin: 0;
    line-height: 1.5;
    height: 30px;
}

/* service */
.service {
    margin: 30% auto 10%;
    color: var(--text-color);
}
.service-box {
    text-align: center;
}
.service-image {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    /* background-image: url(./source/images/img.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.service-title {
    font-weight: 600;
}

/* about */
.about {
    position: relative;
    width: 100%;
    min-height: 60vh;
    color: var(--text-color);
}
.about-image {
    position: absolute;
    top: -20%;
    left: 10%;
    width: 300px;
    height: 400px;
    border-radius: 12px;
    background-image: url(./source/images/img4.png);
    background-position: center;
    background-size: cover;

}
.about-content {
    margin: 3rem 0;
    margin-left: 10%;
}
.about-content h3,
.about-title {
    font-weight: 600;
    margin: 2rem 0;
}
.about-text {
    color: #888;
    margin-bottom: 3rem;
}
.about-content > .btn {
    color: var(--sub-text-color);
}

/* Special */
.special {
    margin: 10% auto;
}
.special .drink {
    margin-top: 2rem;
}

/* feedback */
.feedback {
    position: relative;
    width: 100%;
    min-height: 355px;
}
.feedback::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 100%;
    background-color: var(--bg-color);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    /* background-image: url(./source/images/bg.svg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.feedback-desc {
    position: absolute;
    color: var(--text-color);
    width: 30%;
    top: 50%;
    left: 5%;
}
.feedback-desc p {
    color: #888;
    width: 70%;
}
.feedback-slide {
    position: absolute;
    right: 5%;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;

}
.card {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    height: 240px;
    border: 4px solid rgba(255, 144, 42, 0.3);
}
.card-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-text {
    position: absolute;
    bottom: 10px;
    left: 30px;
    right: -30px;
    min-width: 230px;
    color: var(--text-color);
    background-color: #FFCB7C;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid rgb(255, 144, 42);
    animation: animated-border 1.5s infinite;
}
@keyframes animated-border {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 144, 42, 0.4);
    }
    100% {
       box-shadow: 0 0 0 16px rgba(255,255,255,0);
    }
  }
.card-text h6 {
    font-weight: 600;
}
.card-text p {
    font-size: .9rem;
    margin: 0;
}

/* banner */
.banner {
    margin-top: 8%;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
    min-height: 50vh;
    border-radius: 24px;
    color: #fff;
    background-image: url(./source/images/banner.png);
    background-position: center;
    background-size: cover;
}
.banner h2 {
    margin-top: 10%;
}
.banner label {
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    padding-left: 10px;
}
.banner label input {
    border: none;
    outline: none;
    height: 100%;
}
.banner button.btn.text-white {
    border-radius: 20px;
    margin: 2px;
    background-color: var(--text-color);
}